<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yupi.wlsdbackend.mapper.DrawRecordMapper">

    <resultMap id="BaseResultMap" type="com.yupi.wlsdbackend.domain.DrawRecord">
            <id property="drawRecordId" column="draw_record_id" jdbcType="INTEGER"/>
            <result property="drawRecordName" column="draw_record_name" jdbcType="VARCHAR"/>
            <result property="drawRecordTime" column="draw_record_time" jdbcType="TIMESTAMP"/>
            <result property="userId" column="user_id" jdbcType="INTEGER"/>
    </resultMap>

    <sql id="Base_Column_List">
        draw_record_id,draw_record_name,draw_record_time,
        user_id
    </sql>
</mapper>
