<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yupi.wlsdbackend.mapper.IntegralDetailMapper">

    <resultMap id="BaseResultMap" type="com.yupi.wlsdbackend.domain.IntegralDetail">
            <id property="id" column="id" jdbcType="INTEGER"/>
            <result property="integralName" column="integral_name" jdbcType="VARCHAR"/>
            <result property="integralAmount" column="integral_amount" jdbcType="INTEGER"/>
            <result property="userId" column="user_id" jdbcType="INTEGER"/>
            <result property="integralTime" column="integral_time" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,integral_name,integral_amount,
        user_id,integral_time
    </sql>
</mapper>
