<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yupi.wlsdbackend.mapper.QuestionMapper">

    <resultMap id="BaseResultMap" type="com.yupi.wlsdbackend.domain.Question">
            <id property="questionId" column="question_id" jdbcType="INTEGER"/>
            <result property="questionContent" column="question_content" jdbcType="VARCHAR"/>
            <result property="option1" column="option1" jdbcType="VARCHAR"/>
            <result property="option2" column="option2" jdbcType="VARCHAR"/>
            <result property="option3" column="option3" jdbcType="VARCHAR"/>
            <result property="option4" column="option4" jdbcType="VARCHAR"/>
            <result property="correctOptionId" column="correct_option_id" jdbcType="INTEGER"/>
            <result property="questionDescription" column="question_description" jdbcType="VARCHAR"/>
            <result property="position" column="position" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
        question_id,question_content,option1,
        option2,option3,option4,
        correct_option_id,question_description,position
    </sql>
</mapper>
